@import "tailwindcss";

.product-list {
    flex-wrap: wrap;
    align-items: stretch;
    @apply gap-1 flex items-start text-sm w-100 items-stretch;
    min-width: stretch;
}

.product-card-wrapper {
    @apply flex flex-row gap-2 items-end justify-between basis-100 sm:basis-xs grow shrink-0;
}

.product-card {
    text-align: left;
    @apply flex flex-col self-start;
}
